/* src/styles/wallet-overrides.css */

.wallet-adapter-button {
  background: transparent !important;
  color: white !important;
  transition: transform 0.3s ease !important;
  /* border: 1px solid #FFAE7E80; */
  border-radius: 1rem !important;
  font-size: 22px;
  /* padding: 2.2rem; */
}

.wallet-adapter-button:hover {
  transform: scale(1.05) !important;
}